<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center mb-4 mt-4">
          <span class="text-primary">Books pannel </span>Register
        </h1>
        <form novalidate #form="ngForm" (ngSubmit)="onRegister()" >
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="text"
              class="form-control"
              id="email"
              [(ngModel)]="user.email"
              name="email"
              #email="ngModel"
              email
              required
            />
          </div>
          <div
            class="alert alert-danger"
            *ngIf="email.errors && email.dirty"
          >
            Required
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              [(ngModel)]="user.password"
              name="password"
              #password="ngModel"
              required
            />
          </div>
          <div
            class="alert alert-danger"
            *ngIf="password.invalid && password.dirty"
          >
            Required
          </div>
          <div class="form-group">
            <label for="password">Repeat password</label>
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              [(ngModel)]="user.confirmPassword"
              name="confirmPassword"
              #confirmPassword="ngModel"
              required
              pattern="{{user.password}}"
            />
          </div>
          <div class="alert alert-danger"*ngIf="confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched)">
            <span *ngIf="confirmPassword.errors.pattern">Don't match</span>
            <span *ngIf="confirmPassword.errors.required">Required</span>
          </div>
          <button class="btn btn-primary btn-block" [disabled]="form.invalid">
            Register
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
