<div class="container mt-3">
  <div class="card card-body">
      <h2 class="card-title text-primary">Book title: {{book.name}}</h2>
      <form #form="ngForm" (ngSubmit)="saveBook(book)">
          <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" name="name" [(ngModel)]="book.name" #bookName="ngModel"
                     required>
          </div>
          <div class="alert alert-danger" *ngIf="bookName.invalid && bookName.dirty">Required</div>
          <div class="form-group">
              <label>Description</label>
              <input type="text" class="form-control" name="description" [(ngModel)]="book.description"
                     #bookDescription="ngModel"
                     required>
          </div>
          <div class="alert alert-danger" *ngIf="bookDescription.invalid && bookDescription.dirty">Required</div>
          <div class="form-group">
              <label>Author</label>
              <input type="text" class="form-control" name="author" [(ngModel)]="book.author"
                     #bookAuthor="ngModel"
                     required>
          </div>
          <div class="alert alert-danger" *ngIf="bookAuthor.invalid && bookAuthor.dirty">Required</div>
          <div class="form-group" *ngFor="let link of book.links; let i = index">
              <label>Link: {{link.type}}</label>
              <input type="text" class="form-control" name="{{book.links[i].type}}" [(ngModel)]="book.links[i].type"
                     #book{{link.type}}="ngModel">
              <label>Link: {{link.link}}</label>
              <input type="text" class="form-control" name="{{book.links[i].link}}" [(ngModel)]="book.links[i].link"
                       #book{{link.link}}="ngModel">
          </div>
          <div class="add-links mb-3">
              Add more links: <i class="fa fa-plus-square text-primary ml-1" (click)="addLink()"></i>
          </div>
          <button class="btn btn-primary" [disabled]="form.invalid">Save</button>
      </form>
  </div>
</div>
