
    <div class="row">
        <div class="col-4" *ngFor="let book of books">
            <div class="card card-body">
                <h4 class="card-title">{{book.name}}</h4>
                <span class="text-info">{{book.author}}</span>
                <p class="card-text">{{book.description}}</p>
                <a href="{{link.link}}" *ngFor="let link of book.link">{{link.type}}</a>
                <button class="btn btn-danger nt-3">Delete</button>
                <a routerLink="/books/{{book.id}}" class="btn btn-primary mt-3">Edit</a>
            </div>
        </div>
    </div>
